<launch>

  <!-- Include Gazebo launch -->
  <include file="$(find new_description)/launch/gazebo.launch">
    <arg name="robot_state_publisher_name" value="robot_state_publisher_gazebo"/>
  </include>

  <!-- Include RViz and Navigation launch -->
  <include file="$(find new_description)/launch/navigate_rviz.launch">
    <arg name="robot_state_publisher_name" value="robot_state_publisher_rviz"/>
  </include>

  <!-- Include Waypoints spawner -->
  <node pkg="new_description" type="waypoints_spawner.py" name="waypoints_spawner" output="screen">
    <param name="csv_file_path" value="$(find new_description)/waypoints.csv"/>
  </node>

</launch>
